@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./register.css');
:root {
    --Red: #F53838;
    --Gray: #4F5665;
    --DarkBlue: #0B132A;
    --Gold: #FEA250;
    --LightPink: #FFECEC;
    --Rubik: Rubik;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.ellipse-btn {
    padding: 8px 55px;
    border: 3px solid var(--Red);
    border-radius: 25px;
    color: var(--Red);
    font-family: var(--Rubik);
    font-weight: bold;
    transition: all .5s;
}

.rec-btn {
    color: #fff;
    background: var(--Red);
    padding: 14px 38px;
    border: 2px solid var(--Red);
    border-radius: 7px;
    box-shadow: var(--Red) 0px 20px 30px -10px;
    transition: all .5s ease-out;
}

.rec-btn:hover {
    background-color: transparent;
    color: var(--DarkBlue);
}


.h1_title {
    font-family: var(--Rubik);
    color: var(--DarkBlue);
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.subtitle {
    font-family: var(--Rubik);
    color: var(--Gray);
    font-size: 18px;
    letter-spacing: 0.8px;
}




/* Arrow up btn */
.arrow-up-btn {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom:70px ;
    right: 70px;
    border-radius: 50%;
    background-color:#2FAB73;
    animation-name: animate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow-up-btn i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}


#backToHome.show {
    display: block; /* Ko'rinadi */
    animation: fadeInUp 0.5s ease-out; /* Animatsiya ishlaydi */
    opacity: 1; /* Ko'rinadigan bo'ladi */
}

@keyframes animate {
    0% {
        background-color: #2FAB73;
        transform: translate(0, 0);
    }

    20% {
        background-color:fuchsia;
        transform: translate(10px, 10px);
    }

    40% {
        background-color:lawngreen;
        transform: translate(10px, -10px);
    }

    60% {
        background-color:var(--Gold);
        transform: translate(-10px, 10px);
    }

    80% {
        background-color: lightcoral;
        transform: translate(-10px, -10px);
    }

    100% {
        background-color:magenta;
        transform: translate(0, 0);
    }
}


/* Homepage section */
/* Header section */
header {
    padding-top: 30px;
    background-color: transparent;
    transition: all .5s;
    z-index: 1;
}

header.scrolled {
    background-color: var(--Gray); /* Scroll qilinganda fon rang o'zgaradi */
  }

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main .nav-middle {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-middle li a {
    color: var(--Gray);
    font-family: var(--Rubik);
    letter-spacing: 0.8px;
    font-size: 16px;
    transition: all .5s;
}

.nav-middle li:hover a{
    letter-spacing: 1.7px;
    color: #000;
}

.header-main .nav-register {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-register a {
    color: var(--Gray);
    font-family: var(--Rubik);
    letter-spacing: .8px;
    font-weight: 600;
    transition: all .5s ease-in;
}

.nav-register .sign-in:hover {
    color: var(--Red);
}

.nav-register .sign-up {
    color: var(--Red);
}

.nav-register .sign-up:hover {
    background-color: var(--Red);
    color: #fff;
}

.header-main .nav-menu {
    display: none;
}

.welcome-page {
    padding-top: 120px;
}

.homepage-content {
    display: flex;
    align-items: center;
}


.homepage-left .homepage-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
}

.homepage-left .homepage-title span {
    font-weight: 600;
}

.homepage-left .homepage-subtitle {
    margin-top: 20px;
    line-height: 28px;
}

.homepage-left a {
    display: inline-block;
    color: #fff;
    font-family: var(--Rubik);
    font-size: 16px;
    font-weight: 600;
    margin-top: 80px;
}




/* Statistic section */
.homepage-statistics {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.statistic-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color:#4f566519;
    padding: 20px 40px;
    border-radius: 7px;
}

.statistic-card .statistics-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--LightPink) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-statistics .horizantal-line {
    border-right: 3px solid #4f56652a;
    border-radius: 50%;
}

.statistic-card .statistics-icon i {
    color: var(--Red);
    font-size: 20px;
}

.statistic-card .statistics-text h3 {
    font-family: var(--Rubik);
    font-size: 30px;
    color: var(--DarkBlue);
}

.statistic-card .statistics-text p {
    font-family: var(--Rubik);
    color: var(--Gray);
    font-size: 18px;
    letter-spacing: .8px;
}




/* Features section */
.features {
    padding-top: 200px;
}

.features-content {
    display: flex;
    justify-content: space-between;
}

.features-right-text {
    width: 40%;
    padding-top: 50px;
}

.features-right-text .features-title {
    font-weight: 500;
    width: 400px;
}

.features-right-text p {
    margin-top: 25px;
    line-height: 30px;
}

.features-right-text ul {
    margin-top: 26px;
}

.features-right-text ul li {
    font-family: var(--Rubik);
    color: var(--Gray);
    font-size: 16px;
    line-height: 55px;
}

.features-right-text ul li i {
    color: #2FAB73;
    margin-right: 10px;
    font-size: 18px;
}



/* Pricing section */
.pricing {
    padding-top: 120px;
}

.pricing-title {
    text-align: center;
    font-weight: 500;
}

.pricing-subtitle {
    text-align: center;
    padding-top: 20px;
}

.pricing-cards {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.pricing-card {
    border: 3px solid #9fa3ad;
    border-radius: 10px;
    padding: 35px 60px;
    position: relative;
    height: 600px;
    cursor: pointer;
    transition: all .5s;
}

.pricing-card:hover {
    border-color: var(--Red);
}

.pricing-card:hover .ellipse-btn{
    background-color: var(--Red);
    color: #fff;
}

.pricing-card .ellipse-btn:hover {
    letter-spacing: 0.06rem;
}

.pricing-card img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.pricing-card h2 {
    font-family: var(--Rubik);
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.pricing-card h2 span {
    color: var(--Gray);
    font-weight: 400;
}

.pricing-card .pricing-list {
    padding-top: 15px;
}

.pricing-card .pricing-list li {
    padding: 7px 0;
    color: var(--Gray);
    font-family: var(--Rubik);
}

.pricing-card .pricing-list li i {
    color: #2FAB73;
    margin-right: 15px;
}

.pricing-card .prices {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.pricing-card .prices h2 {
    position: absolute;
    width: 100px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}



/* Map section */
.map-section {
    padding-top: 130px;
}

.map-section__content h1 {
    width: 400px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}

.map-section__content p {
    width: 600px;
    text-align: center;
    margin: 20px auto;
    font-size: 16px;
}

.map-section__content p span {
    font-weight: bold;
}

.map-section__content .map-box {
    margin: 20px auto;
    width: 1000px;
    height: 500px;
    background: url('../images/karta.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.map-box span {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.map-box span img {
    width: 100%;
}

.map-box span:nth-child(1),
.map-box span:nth-child(5),
.map-box span:nth-child(9),
.map-box span:nth-child(13),
.map-box span:nth-child(17),
.map-box span:nth-child(21) {
    width: 20px;
}

.map-box span:nth-child(2),
.map-box span:nth-child(6),
.map-box span:nth-child(10),
.map-box span:nth-child(14),
.map-box span:nth-child(18),
.map-box span:nth-child(22) {
    width: 30px;
}

.map-box span:nth-child(3),
.map-box span:nth-child(7),
.map-box span:nth-child(11),
.map-box span:nth-child(15),
.map-box span:nth-child(19),
.map-box span:nth-child(23) {
    width: 40px;
}

.map-box span:nth-child(4),
.map-box span:nth-child(8),
.map-box span:nth-child(12),
.map-box span:nth-child(16),
.map-box span:nth-child(20),
.map-box span:nth-child(24) {
    width: 50px;
}

.map-box span:nth-child(1) {
    top: 320px;
    left: 900px;
    animation-name: moving1;
}
@keyframes moving1 {
    0% {
        top: 320px;
        left: 900px;
    }
    25% {
        top: 320px;
        left: 600px;
    }
    50% {
        top: 200px;
        left: 600px;
    }
    75% {
        top: 180px;
        left: 800px;
    }
    100% {
        top: 320px;
        left: 900px;
    }
}


.map-box span:nth-child(2) {
    top: 20px;
    left: 250px;
    animation-name: moving2;
}
@keyframes moving2 {
    0% {
        top: 20px;
        left: 250px;
    }
    25% {
        top: 140px;
        left: 220px;
    }
    50% {
        top: 140px;
        left: 550px;
    }
    75% {
        top: 20px;
        left: 450px;
    }
    100% {
        top: 20px;
        left: 250px;
    }
}


.map-box span:nth-child(3) {
    top: 60px;
    left: 30px;
    animation-name: moving3;
}
@keyframes moving3 {
    0% {
        top: 60px;
        left: 30px;
    }
    25% {
        top: 60px;
        left: 230px;
    }
    50% {
        top: 160px;
        left: 130px;
    }
    75% {
        top: 80px;
        left: 100px;
    }
    100% {
        top: 60px;
        left: 30px;
    }
}


.map-box span:nth-child(4) {
    top: 400px;
    left: 930px;
    animation-name: moving4;
}
@keyframes moving4 {
    0% {
        top: 400px;
        left: 930px;
    }
    25% {
        top: 200px;
        left: 930px;
    }
    50% {
        top: 350px;
        left: 730px;
    }
    75% {
        top: 270px;
        left: 630px;
    }
    100% {
        top: 400px;
        left: 930px;
    }
}

.map-box span:nth-child(5) {
    top: 60px;
    left: 840px;
    animation-name: moving5;
}
@keyframes moving5 {
    0% {
        top: 60px;
        left: 840px;
    }
    25% {
        top: 360px;
        left: 640px;
    }
    50% {
        top: 160px;
        left: 640px;
    }
    75% {
        top: 60px;
        left: 740px;
    }
    100% {
        top: 60px;
        left: 840px;
    }
}

.map-box span:nth-child(6) {
    top: 60px;
    left: 720px;
    animation-name: moving6;
}
@keyframes moving6 {
    0% {
        top: 60px;
        left: 720px;
    }
    25% {
        top: 140px;
        left: 960px;
    }
    50% {
        top: 340px;
        left: 850px;
    }
    75% {
        top: 240px;
        left: 640px;
    }
    100% {
        top: 60px;
        left: 720px;
    }
}


.map-box span:nth-child(7) {
    top: 10px;
    left: 400px;
    animation-name: moving7;
}
@keyframes moving7 {
    0% {
        top: 10px;
        left: 400px;
    }
    25% {
        top: 160px;
        left: 140px;
    }
    50% {
        top: 280px;
        left: 350px;
    }
    75% {
        top: 180px;
        left: 550px;
    }
    100% {
        top: 10px;
        left: 400px;
    }
}


.map-box span:nth-child(8) {
    top: 100px;
    left: 620px;
    animation-name: moving8;
}
@keyframes moving8 {
    0% {
        top: 100px;
        left: 620px;
    }
    25% {
        top: 230px;
        left: 780px;
    }
    50% {
        top: 350px;
        left: 620px;
    }
    75% {
        top: 250px;
        left: 520px;
    }
    100% {
        top: 100px;
        left: 620px;
    }
}


.map-box span:nth-child(9) {
    top: 70px;
    left: 390px;
    animation-name: moving9;
    border: 1px solid green;
}
@keyframes moving9 {
    0% {
        top: 70px;
        left: 390px;
    }
    50% {
        top: 420px;
        left: 350px;
    }
    100% {
        top: 70px;
        left: 390px;
    }
}


.map-box span:nth-child(10) {
    top: 70px;
    left: 120px;
    animation-name: moving10;
}
@keyframes moving10 {
    0% {
        top: 70px;
        left: 120px;
    }
    50% {
        top: 120px;
        left: 320px;
    }
    100% {
        top: 70px;
        left: 120px;
    }
}


.map-box span:nth-child(11) {
    top: 100px;
    left: 190px;
    animation-name: moving11;
}
@keyframes moving11 {
    0% {
        top: 100px;
        left: 190px;
    }
    50% {
        top: 10px;
        left: 160px;
    }
    100% {
        top: 100px;
        left: 190px;
    }
}


.map-box span:nth-child(12) {
    top: 160px;
    left: 140px;
    animation-name: moving12;
}
@keyframes moving12 {
    0% {
        top: 160px;
        left: 140px;
    }
    50% {
        top: 220px;
        left: 560px;
    }
    100% {
        top: 160px;
        left: 140px;
    }
}


.map-box span:nth-child(13) {
    top: 110px;
    left: 310px;
    animation-name: moving13;
}
@keyframes moving13 {
    0% {
        top: 110px;
        left: 310px;
    }
    50% {
        top: 40px;
        left: 620px;
    }
    100% {
        top: 110px;
        left: 310px;
    }
}


.map-box span:nth-child(14) {
    top: 240px;
    left: 210px;
    animation-name: moving14;
}
@keyframes moving14 {
    0% {
        top: 240px;
        left: 210px;
    }
    50% {
        top: 40px;
        left: 40px;
    }
    100% {
        top: 240px;
        left: 210px;
    }
}


.map-box span:nth-child(15) {
    top: 190px;
    left: 250px;
    animation-name: moving15;
}
@keyframes moving15 {
    0% {
        top: 190px;
        left: 250px;
    }
    50% {
        top: 400px;
        left: 310px;
    }
    100% {
        top: 190px;
        left: 250px;
    }
}


.map-box span:nth-child(16) {
    top: 290px;
    left: 300px;
    animation-name: moving16;
}
@keyframes moving16 {
    0% {
        top: 290px;
        left: 300px;
    }
    50% {
        top: 160px;
        left: 510px;
    }
    100% {
        top: 290px;
        left: 300px;
    }
}


.map-box span:nth-child(17) {
    top: 350px;
    left: 400px;
    animation-name: moving17;
}
@keyframes moving17 {
    0% {
        top: 350px;
        left: 400px;
    }
    50% {
        top: 170px;
        left: 200px;
    }
    100% {
        top: 350px;
        left: 400px;
    }
}


.map-box span:nth-child(18) {
    top: 450px;
    left: 330px;
    animation-name: moving18;
}
@keyframes moving18 {
    0% {
        top: 450px;
        left: 330px;
    }
    50% {
        top: 250px;
        left: 500px;
    }
    100% {
        top: 450px;
        left: 330px;
    }
}


.map-box span:nth-child(19) {
    top: 260px;
    left: 550px;
    animation-name: moving19;
}
@keyframes moving19 {
    0% {
        top: 260px;
        left: 550px;
    }
    50% {
        top: 420px;
        left: 920px;
    }
    100% {
        top: 260px;
        left: 550px;
    }
}


.map-box span:nth-child(20) {
    top: 400px;
    left: 600px;
    animation-name: moving20;
}
@keyframes moving20 {
    0% {
        top: 400px;
        left: 600px;
    }
    50% {
        top: 380px;
        left: 340px;
    }
    100% {
        top: 400px;
        left: 600px;
    }
}


.map-box span:nth-child(21) {
    top: 240px;
    left: 700px;
    animation-name: moving21;
}
@keyframes moving21 {
    0% {
        top: 240px;
        left: 700px;
    }
    50% {
        top: 200px;
        left: 900px;
    }
    100% {
        top: 240px;
        left: 700px;
    }
}


.map-box span:nth-child(22) {
    top: 150px;
    left: 780px;
    animation-name: moving22;
}
@keyframes moving22 {
    0% {
        top: 150px;
        left: 780px;
    }
    50% {
        top: 150px;
        left: 530px;
    }
    100% {
        top: 150px;
        left: 780px;
    }
}

.map-box span:nth-child(23) {
    top: 260px;
    left: 800px;
    animation-name: moving23;
}
@keyframes moving23 {
    0% {
        top: 260px;
        left: 800px;
    }
    50% {
        top: 80px;
        left: 770px;
    }
    100% {
        top: 260px;
        left: 800px;
    }
}


.map-box span:nth-child(24) {
    top: 70px;
    left: 900px;
    animation-name: moving24;
}

@keyframes moving24 {
    0% {
        top: 70px;
        left: 900px;
    }
    50% {
        top: 300px;
        left: 610px;
    }
    100% {
        top: 70px;
        left: 900px;
    }
}



/* Parters section */
.partners {
    display: flex;
    padding: 120px 0;
    justify-content: space-between;
}

.partners .partners-img {
    width: 210px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-img img {
    width: 100%;

}


/* Testimonials section */


.testimonials-content .testimonials-title {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

.testimonials-content .subtitle {
    text-align: center;
    width: 650px;
    margin: 20px auto 50px;
}
.wrapper-container {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.wrapper-container .wrapper-card {
    padding: 15px;
    width: 350px;
    height: 210px;
    border: 3px solid #a8aebb;
    border-radius: 12px;
    font-family: var(--Rubik);
    color: #000;
    transition: .5s;
    cursor:wait;
}

.wrapper-container .wrapper-card:hover {
    border-color: var(--Red);
}

.wrapper-card .card-top-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper-card .card-user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-user .user-info h3 {
    font-weight: 500;
    letter-spacing: 0.8px;
}

.card-user .user-info p {
    color: var(--Gray);
    font-size: 14px;
}

.wrapper-card .card-grade p {
    font-family: var(--Rubik);
}

.wrapper-card .card-grade {
    display: flex;
    align-items: center;
    gap: 15px;
}

.wrapper-card .card-grade i {
    color: #FEA250;
}

.wrapper-card .card-user .user-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.wrapper-card .card-bottom-comment {
    margin-top: 20px;
    line-height: 25px;
    font-size: 14px;
}

.controllers-box {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.controllers-box .controllers {
    display: flex;
    gap: 15px;
    cursor: pointer;
}


.controllers .arrow-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #F53838;
    transition:  .5s;
}

.controllers .arrow-box:hover {
    background-color: #F53838;
}

.controllers .arrow-box i {
    transition: color .5s;
}

.controllers .arrow-box:hover i {
    color: #fff;
}

.controllers .arrow-box:active i {
    transform: scale(1.2);
}

.controllers .arrow-box i {
    color: #F53838;
    font-size: 20px;
}


/* Subscribe section */
.subscriber .container {
    display: flex;
    height: 220px;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.subscriber .left-text {
    width: 500px;
}

.subscriber .left-text .subtitle {
    padding-top: 20px;
}

.subscriber .right-button {
    font-family: var(--Rubik);
    font-weight: bold;
}


/* Footer section style */
footer {
    width: 100%;
    background-color: #abb2bf36;
    padding: 50px 0;
}

.footer-content {
    display: flex ;
    justify-content: space-between;
    align-items: start;
}


.footer-left {
    width: 350px;
}

.footer-left .footer-subtitle {
    font-size: 16px;
    padding-top: 20px;
}

.footer-left .footer-link-icons {
    padding-top: 40px;
    display: flex;
    gap: 20px;
}

.footer-link-icons .footer-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: .4s;
}

.footer-link-icons .footer-icon i {
    color: #F53838;
}

.footer-link-icons .footer-icon:hover {
    transform: scale(1.15);
}

.footer-left .footer-bottom-text {
    padding-top: 40px;
    font-family: var(--Rubik);
    color: #4f566580;
}

.footer-left .footer-bottom-text span {
    font-weight: bolder;
}


/* Table styling */

table tr {
    font-family: var(--Rubik);
    font-size: 16px;
}
table tr th {
    padding-right: 130px;
    padding-bottom: 30px;
}

table tr td {
    color: #4F5665;
    padding-bottom: 20px;
}

table tr th:last-child {
    padding-right: 0px;
}




/* RWB styling */

/* 1024 gacha ekranlarda */
@media only screen and (max-width:1024px) {
    .container {
        max-width:94%;
    }

    .ellipse-btn {
        padding: 6px 22px;
        border-width: 2px;
    }

    .arrow-up-btn {
        right: 110px;
    }

    header {
        padding-top: 20px;
    }

    .header-main .nav-middle {
        gap: 15px;
    }

    .nav-middle li a {
        letter-spacing: 0.4px;
        font-size: 14px;
    }

    .nav-middle li:hover a{
        letter-spacing: 1.2px;
        color: #000;
    }

    .header-main .nav-register {
        gap: 15px;
    }

    .nav-register a {
        letter-spacing: 0.4px;
        font-weight: 500;
        font-size: 14px;
    }

    .welcome-page {
        padding-top: 80px;
    }

    .header-main img {
        width: 120px;
    }

    .homepage-left .homepage-title {
        font-size: 34px;
        font-weight: 500;
        line-height: 42px;
    }

    .homepage-left .homepage-subtitle {
        margin-top: 15px;
        font-size: 16px;
        line-height: 22px;
    }

    .homepage-right img {
        width: 410px;
    }

    .homepage-left a {
        font-size: 16px;
        font-weight: 500;
        margin-top:50px;
        padding: 10px 20px;
    }

    /* Statistics */
    .statistic-card {
        gap: 15px;
        padding: 10px 25px;
        border-radius: 6px;
    }
    .statistic-card .statistics-icon {
        width: 45px;
        height: 45px;
    }
    .statistic-card .statistics-icon i {
        font-size: 16px;
    }
    .statistic-card .statistics-text h3 {
        font-size: 20px;
        font-weight: 500;
    }
    .statistic-card .statistics-text p {
        font-size: 14px;
        letter-spacing: .3px;
    }

    /* Features section */

    .features {
        padding-top: 120px;
    }
    .features-left-img img {
        width: 410px;
    }
    .features-right-text .features-title {
        font-weight: 500;
        width: 350px;
        font-size: 28px;
    }
    .features-right-text p {
        margin-top: 15px;
        line-height: 26px;
        font-size: 16px;
    }
    .features-right-text ul {
        margin-top: 10px;
    }
    .features-right-text ul li {
        font-size: 16px;
        line-height: 42px;
    }


    /* Pricing section */
    .pricing {
        padding-top: 100px;
    }
    .pricing-subtitle {
        padding-top: 13px;
    }
    .pricing-cards {
        padding-top: 60px;
    }
    .pricing-card {
        padding: 35px 40px;
    }

    /* Map section */
    .map-section {
        padding-top: 110px;
    }
    .map-section__content h1 {
        font-size: 28px;
    }
    .map-section__content p {
        width: 500px;
        margin: 12px auto;
        font-size: 15px;
    }
    .map-section__content .map-box {
        margin: 30px auto;
        width: 950px;
        height: 600px;
    }

    .partners {
        padding: 100px 0;
    }
    .partners .partners-img {
        width: 170px;
        height: 80px;
    }

    /* Testimonials section */
    .testimonials-content .testimonials-title {
        font-size: 28px;
    }
    .testimonials-content .subtitle {
        margin: 15px auto 45px;
        font-size: 16px;
    }
    .wrapper-container .wrapper-card {
        padding: 15px;
        width: 300px;
        height: 210px;
    }
    .wrapper-card .card-user{
        gap: 15px;
    }
    .card-user .user-info h3 {
        font-size: 16px;
    }
    .card-user .user-info p {
        font-size: 13px;
    }
    .wrapper-card .card-grade {
        gap: 7px;
    }
    .wrapper-card .card-grade i {
        font-size: 12px;
    }
    .wrapper-card .card-user .user-img {
        width: 45px;
        height: 45px;
    }
    .wrapper-card .card-bottom-comment {
        margin-top: 15px;
        font-size: 14px;
        line-height: 22px;
    }


    /* Subscribe section */
    .subscriber .container {
        height: 220px;
        gap: 220px;
    }
    .subscriber .left-text .subtitle {
        padding-top: 15px;
        font-size: 16px;
    }
    .subscriber .right-button {
        padding: 12px 24px;
    }


    /* Footer section style */
    footer {
        padding: 40px 0;
    }

    .footer-left img {
        width: 130px;
    }

    .footer-left .footer-subtitle {
        font-size: 15px;
    }

    table tr th {
        padding-right: 100px;
    }

    table tr td {
        padding-bottom: 15px;
        font-size: 15px;
    }

}




/* 768 gacha ekranlarda */
@media only screen and (max-width:768px) {
    .container {
        max-width:96%;
        margin: 0 auto;
    }

    .ellipse-btn {
        padding: 6px 22px;
        border-width: 2px;
    }

    .arrow-up-btn {
        right: 70px;
    }

    header {
        padding-top: 15px;
    }

    .header-main img {
        width: 110px;
    }

    .header-main .nav-middle {
        gap: 12px;
    }

    .nav-middle li a {
        letter-spacing: 0.4px;
        font-size: 12px;
    }

    .nav-middle li:hover a{
        letter-spacing: 1px;
        color: #000;
    }

    .header-main .nav-register {
        gap: 15px;
    }

    .nav-register a {
        letter-spacing: 0.4px;
        font-weight: 500;
        font-size: 12px;
    }

    .welcome-page {
        padding-top: 60px;
    }


    .homepage-left {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homepage-left .homepage-title {
        font-size: 34px;
        font-weight: 500;
        line-height: 42px;
        width: 500px;
        text-align: center;
    }

    .homepage-left .homepage-subtitle {
        margin-top: 15px;
        font-size: 16px;
        line-height: 22px;
        width: 500px;
        text-align: center;
    }

    .homepage-right img {
        display: none;
    }

    .homepage-left a {
        font-size: 16px;
        font-weight: 500;
        margin-top:30px;
        padding: 10px 20px;
    }

    /* Statistics */
    .statistic-card {
        gap: 15px;
        padding: 10px 25px;
        border-radius: 6px;
    }

    .homepage-statistics {
        margin-top: 70px;
    }
    .statistic-card .statistics-icon {
        width: 45px;
        height: 45px;
    }
    .statistic-card .statistics-icon i {
        font-size: 16px;
    }
    .statistic-card .statistics-text h3 {
        font-size: 20px;
        font-weight: 500;
    }
    .statistic-card .statistics-text p {
        font-size: 14px;
        letter-spacing: .3px;
    }

    /* Features section */

    .features {
        padding-top: 120px;
    }
    .features-left-img img {
        display: none;
    }
    .features-right-text {
        width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features-right-text .features-title {
        font-weight: 500;
        font-size: 28px;
        text-align: center;
    }
    .features-right-text p {
        margin-top: 15px;
        line-height: 26px;
        font-size: 16px;
        text-align: center;
    }
    .features-right-text ul {
        margin-top: 10px;
    }
    .features-right-text ul li {
        font-size: 16px;
        line-height: 42px;
    }


    /* Pricing section */
    .pricing {
        padding-top: 80px;
    }
    .pricing-title {
        font-weight: 500;
        font-size: 28px;
    }
    .pricing-subtitle {
        padding-top: 13px;
        font-size: 16px;
        width: 400px;
        margin: 0 auto;
    }
    .pricing-cards {
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .pricing-card {
        padding: 10px 20px;
        height: 360px;
    }
    .pricing-card img {
        display: none;
    }
    .pricing-card h2 {
        font-size: 1.2rem;
    }
    .pricing-card .pricing-list {
        padding-top: 10px;
    }
    .pricing-card .pricing-list li {
        padding: 5px 0;
    }
    .pricing-card .prices {
        bottom: 25px;
    }

    

    /* Map section */
    .map-section {
        display: none;
    }

    .partners {
        padding: 70px 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .partners .partners-img {
        width: 200px;
        height: 60px;
    }

    .partners .partners-img img {
        width: 70%;
    }

    /* Testimonials section */
    .testimonials-content .testimonials-title {
        font-size: 26px;
    }
    .testimonials-content .subtitle {
        margin: 15px auto 20px;
        font-size: 14px;
    }
    .wrapper-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .wrapper-container .wrapper-card {
        padding: 15px;
        width: 300px;
        height: 210px;
    }
    .wrapper-card .card-user{
        gap: 15px;
    }
    .card-user .user-info h3 {
        font-size: 16px;
    }
    .card-user .user-info p {
        font-size: 13px;
    }
    .wrapper-card .card-grade {
        gap: 7px;
    }
    .wrapper-card .card-grade i {
        font-size: 12px;
    }
    .wrapper-card .card-user .user-img {
        width: 45px;
        height: 45px;
    }
    .wrapper-card .card-bottom-comment {
        margin-top: 15px;
        font-size: 14px;
        line-height: 22px;
    }
    .controllers-box .controllers {
        display: none;
    }


    /* Subscribe section */
    .subscriber .container {
        height: 220px;
        gap: 60px;
    }
    .subscriber .left-text h1 {
        font-size: 24px;
    }
    .subscriber .left-text .subtitle {
        padding-top: 15px;
        font-size: 14px;
    }
    .subscriber .right-button {
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 500;
    }


    /* Footer section style */
    footer {
        padding: 20px 0;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-left .footer-subtitle {
        font-size: 15px;
        text-align: center;
    }
    .footer-left img {
        width: 100px;
    }

    table {
        padding:30px 0;
    }
    table tr th {
        padding-right: 100px;
        padding-bottom: 10px;
    }

    table tr td {
        padding-bottom: 5px;
        font-size: 15px;
    }

}







/* 576 gacha ekranlarda */
@media only screen and (max-width:768px) {
    .container {
        max-width:86%;
        margin: 0 auto;
    }


    .arrow-up-btn {
        right: 70px;
    }

    header {
        padding-top: 15px;
    }

    .header-main img {
        width: 100px;
    }

    .header-main .nav-middle {
        display: none;
    }

    .header-main .nav-register {
        display: none;
    }

    .header-main .nav-menu {
        display: inline-block;
    }

    .welcome-page {
        padding-top: 60px;
    }
    .homepage-left {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homepage-left .homepage-title {
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        width: 400px;
        text-align: center;
    }

    .homepage-left .homepage-title span {
        font-weight: 500;
    }

    .homepage-left .homepage-subtitle {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        width: 350px;
        text-align: center;
    }

    .homepage-right img {
        display: none;
    }

    .homepage-left a {
        font-size: 14px;
        font-weight: 400;
        margin-top: 20px;
        padding: 7px 14px;
    }

    /* Statistics */


    .homepage-statistics {
        margin-top: 70px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .statistic-card {
        width: 180px;
        gap: 15px;
        padding: 10px 25px;
    }
    .homepage-statistics .horizantal-line {
        display: none;
    }
    .statistic-card .statistics-icon {
        width: 45px;
        height: 45px;
    }
    .statistic-card .statistics-icon i {
        font-size: 16px;
    }
    .statistic-card .statistics-text h3 {
        font-size: 18px;
        font-weight: 500;
    }
    .statistic-card .statistics-text p {
        font-size: 14px;
        letter-spacing: .1px;
    }

    /* Features section */

    .features {
        padding-top: 20px;
    }
    .features-left-img img {
        display: none;
    }
    .features-right-text {
        width: 350px;
        margin: 0 auto;
    }
    .features-right-text .features-title {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
    }
    .features-right-text p {
        line-height: 20px;
        font-size: 14px;
    }
    .features-right-text ul {
        margin-top: 10px;
    }
    .features-right-text ul li {
        font-size: 14px;
        line-height: 42px;
    }


    /* Pricing section */
    .pricing {
        padding-top: 30px;
    }
    .pricing-title {
        font-weight: 500;
        font-size: 24px;
    }
    .pricing-subtitle {
        font-size: 14px;
        width: 350px;
        margin: 0 auto;
    }
    .pricing-cards {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .pricing-card {
        padding: 5px 15px;
        height: 315px;
    }
    .pricing-card img {
        display: none;
    }
    .pricing-card h2 {
        font-size: 18px;
        font-weight: 500;
    }
    .pricing-card .pricing-list {
        padding-top: 10px;
    }
    .pricing-card .pricing-list li {
        padding: 5px 0;
        font-size: 14px;
    }
    .pricing-card .prices {
        bottom: 25px;
    }

    .pricing-card .prices a {
        font-size: 14px;
        font-weight: 400;
        padding: 6px 15px;
    }

    
    /* Map section */
    .map-section {
        display: none;
    }


    .partners {
        width: 350px;
        padding: 50px 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .partners .partners-img {
        width: 160px;
        height: 60px;
    }

    .partners .partners-img img {
        width: 70%;
    }

    /* Testimonials section */
    .testimonials-content .testimonials-title {
        width: 350px;
        font-size: 24px;
    }
    .testimonials-content .subtitle {
        width: 350px;
        margin: 10px auto 20px;
        font-size: 14px;
    }
    .wrapper-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .wrapper-container .wrapper-card {
        padding: 10px;
        width: 300px;
        height: 180px;
    }
    .wrapper-card .card-user{
        gap: 10px;
    }
    .card-user .user-info h3 {
        font-size: 14px;
    }
    .card-user .user-info p {
        font-size: 12px;
    }
    .wrapper-card .card-grade {
        gap: 7px;
    }
    .wrapper-card .card-grade i {
        font-size: 12px;
    }
    .wrapper-card .card-user .user-img {
        width: 40px;
        height: 40px;
    }
    .wrapper-card .card-bottom-comment {
        margin-top: 15px;
        font-size: 12px;
        line-height: 22px;
    }
    .controllers-box .controllers {
        display: none;
    }


    /* Subscribe section */
    .subscriber .container {
        width: 350px;
        height: 230px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .subscriber .left-text h1 {
        font-size: 24px;
        text-align: center;
    }
    .subscriber .left-text .subtitle {
        padding-top: 10px;
        font-size: 14px;
        text-align: center;
    }
    .subscriber .right-button {
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 500;
    }


    /* Footer section style */
    footer {
        padding: 20px 0;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-left .footer-subtitle {
        max-width: 350px;
        font-size: 14px;
        text-align: center;
    }
    .footer-left img {
        width: 100px;
    }

    table {
        padding:30px 0;
    }
    table tr th {
        padding-right: 70px;
        padding-bottom: 10px;
    }

    table tr td {
        padding-bottom: 5px;
        font-size: 15px;
    }

}


